ul#nav{
    list-style-type:none;
    padding-left: 10px;
}


#nav a{
    display:block;
    margin:10px 0px;
    padding: 20px 10px;
    border: 5px solid rgb(18, 18, 77);
    text-decoration: none;
    font-size: 1.5em;
    color:black;
    background-color: white;
}

#nav a:hover{
    background-color: orchid;
}


#ittvagyok a{
    background-color: peru;
}

#navoszlop{
    vertical-align: top;
    background-color: rebeccapurple;
}

#tartalom{
    vertical-align: top;
}